.text-center {
    text-align: center;
}

body {
    font-family: Arial;
}

form {
    margin-top: 2rem;
}

table {
    width: 100%;
}

tr {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

tr,
th,
td {
    text-align: center;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}